* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #8291dd;
  }
  
  li {
    list-style: none;
  }
  
  fieldset {
    border: none;
  }
  
  label {
    display: block;
    margin: 10px;
  }
  
  input,
  button {
    display: block;
    padding: 10px;
    border: 1px solid silver;
  }
  
  input:focus {
    outline: none;
  }
  
  .mr-1 {
    margin-right: 10px;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
  }
  
  .todo-app {}
  
  .add-todo-form {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  
  .add-text {
    width: 100%;
  }
  
  .add-text::placeholder {
    font-style: italic;
    color: rgb(194, 194, 194);
  }
  
  .btn-add {
    cursor: pointer;
  }
  
  .todo-filter-block {}
  
  .todo-list {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 3px solid silver;
  }
  
  .todo-item {
    display: flex;
    visibility: hidden;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3px;
    background-color: #ffffff;
    border: 1px solid silver;
    padding: 5px;
    opacity: 0;
    transform: translate(-100%);
    transition: all .3s;
  }
  
  .show {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }
  
  .del {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }
  
  .todo-item:last-child {
    margin-bottom: 0;
  }
  
  .todo-item:nth-child(even) {
    background: #d9e1ef;
  }
  
  .todo-item__text_completed {
    text-decoration: line-through;
  }
  
  .todo-item__delBtn {
    margin-left: auto;
    cursor: pointer;
  }
  
  .btn-del-all {
    margin-top: 25px;
    cursor: pointer;
  }
  
  
  